/**=========================
======Regular visuals=======
==========================*/

* {
  /* box-sizing: border-box; */
  font-family: "Roboto", sans-serif;
  /* margin: 0;
  padding: 0; */
}

.hidden {
  display: none !important;
}

body {
  background-color: rgba(192, 192, 192, 0.4);
  /* 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0e0e0;
  color: #333; */
}

.horizontal-container {
  display: flex;
  flex-direction: row;
}

.vertical-container {
  display: flex;
  flex-direction: column;
}

h2,
h3 {
  padding: 1%;
  margin: 1%;
}

/**=========================
=========Header=============
==========================*/
.header {
  grid-area: header;
  text-align: center;
  background: #4b4b4b;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/**=========================
=======CONFIGURE VIEW=======
==========================*/
#home-page {
  max-height: 95%;
  background: rgb(236, 232, 232);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.config-grid {
  width: 95vw;
  height: 95vh;
  display: flex;
  column-gap: 2%;
  align-items: stretch;
  align-self: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.config-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#config-column-1 {
  margin: 5px;
  display: flex;
  align-content: stretch;
  border-radius: 5px;
}

#config-column-2 {
  margin: 5px;
}

#config-column-3 {
  margin: 5px;
}

.component-style {
  background-color: rgba(0, 89, 255, 0.151);
  border-radius: 8px;
  border: 2px solid rgba(192, 192, 192, 00.5);
  margin: 7.5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(192, 192, 192, 1);
}

img {
  height: 20px;
  width: auto;
  padding: 0;
  margin: 5px;
}

p {
  margin: 1%;
  padding: 1%;
}

/*=========================
=========PLAYER===========
==========================*/
.input-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 5px;
  max-width: 90%;
}

.player-icon {
  width: 3em;
  height: 3em;
}

#playerName {
  border: 2px solid;
  width: 60%;
  transition: border-color 5s, box-shadow 5s;
}

input[type="text"] {
  display: block;
  width: 90%;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border: 1px solid #6666;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/*=========================
=======PERSONAL STOCK======
==========================*/
.personal-stock-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1%;
  margin: 1%;
}

.personal-stock-list {
  list-style: none;
  padding: 0;
}

.personal-stock-list li {
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.personal-stock-list li:hover {
  transform: translateY(-5px);
}

.personal-stock-name {
  font-weight: bold;
  font-size: 16px;
}

.personal-stock-quantity {
  font-size: 16px;
}

/*====================
=====FIXED COSTS======
====================*/

/* Container styling */
.fixed-costs-container {
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: #f8f9fa;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.fixed-costs-container h2 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
  font-size: 24px;
}

/* List container styling */
.fixed-costs-list-container {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* List styling */
.fixed-costs-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* List item styling */
.fixed-costs-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Last item has no border */
.fixed-costs-list li:last-child {
  border-bottom: none;
}

/* Icon styling */
.fixed-cost-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

/* Name styling */
.fixed-cost-name {
  flex: 1;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

/* Price styling */
.fixed-cost-price {
  font-size: 18px;
  color: #28a745;
  font-weight: bold;
}

/* Hover effect for list items */
.fixed-costs-list li:hover {
  background-color: #e9ecef;
  transition: background-color 0.3s ease;
}


/*====================
===GAME DESCRIPTION===
====================*/
game-description-container {
  max-width: 100%;
}

.game-description {
  text-align: center;
  font-size: 1.1em;
  color: #555;
  padding: 5px;
}

/*==========================
=====SELECT WORKSTATION=====
==========================*/

.workstation-icon {
  width: 3em;
  height: 3em;
  padding: 0 5px;
  margin: 0 5px;
}

.workstation-options-container {
  text-align: center;
  margin: 20px;
  align-items: center;
}

.option-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option {
  margin: 5px 0;
}

.workstation-options {
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  max-height: 90%;
  max-width: 90%;
  flex-wrap: wrap;
}

.workstation-option {
  align-items: center;
  margin: 10px 0;
}

.workstation-option input[type="radio"] {
  display: none;
}

.workstation-option label {
  width: 2.2em;
  height: 1.5em;
  font-size: 2em;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.workstation-option button:hover {
  background-color: #0056b3;
}

.workstation-option input[type="radio"]:checked+label {
  background-color: #28a745;
}

/*====================
===PLAYERS OVERVIEW====
====================*/
.players-overview-container {
  padding: 20px;
  background-color: #ADD8E6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(182, 174, 174, 0.795);
  max-width: 800px;
  margin: auto;
}

.players-overview-container h2 {
  text-align: center;
  color: #343a40;
  margin-bottom: 20px;
}

.players-overview-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
}

.other-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(187, 179, 236, 0.658);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 150px;
  text-align: center;
}

.other-player-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(155, 93, 255, 0.555);
}

.player-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.other-player-info {
  display: flex;
  flex-direction: column;
}

.other-player-name {
  font-size: 1.2em;
  color: rgba(155, 93, 255, 0.863);
  margin-bottom: 5px;
  font-weight: bold;
}

.other-player-workstation {
  font-size: 0.9em;
  color: #6c757d;
  font-weight: bold;
}

/*====================
=========SHOP=========
====================*/
.shop-component {
  max-width: 600px;
}

/* Shop Heading */
.shop-heading {
  align-items: center;
  align-content: center;
  position: relative;
}

.shop-heading .shop-tip {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 10%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.shop-heading .shop-tip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.shop-heading:hover .shop-tip {
  visibility: visible;
  opacity: 1;
}

.shop-icon {
  width: 2.5em;
  height: 3em;
  padding: 0 0;
  margin: 0 0;
}

/* Shop Navigation*/
.shop-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.shop-navigation button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-navigation button:hover {
  background-color: #0056b3;
}

.workstation-label {
  font-weight: bold;
  font-size: 1.2em;
}

/* Parts list styles */
.shop-parts-list {
  list-style: none;
  padding: 1%;
  margin: 0;
}

.shop-part-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.shop-part-item:last-child {
  border-bottom: none;
}

.shop-part-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
}

.shop-part-details span:first-child {
  font-weight: bold;
}

input[type="number"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Shop Buy button styles */
.shop-buy-button {
  width: 100%;
  max-width: inherit;
  background-color: #28a745;
  border: none;
  padding: 15px 0;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 150%;
  font-weight: 700;
  margin: 1%;
}

.shop-buy-button:hover {
  background-color: #218838;
}

.shop-add-amount-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.shop-add-amount-button {
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 1em;
  width: 30%;
}

.summary-text {
  margin-bottom: 20px;
}

#roundMessage {
  position: absolute;
  top: 18vh;
  left: 48vw;
}

label {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

label .tooltip {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

label .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

label:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/*===================
=======BUTTONS========
=====================*/

start-button {
  display: flex;
  align-self: center;
  align-items: center;
  width: 80%;
}

#newRoundButton,
#startButton {
  display: block;
  padding: 10px 20px;
  font-size: 200%;
  margin: 5px;
  background-color: #28a745;
  border-radius: 15px;
  line-height: 1.25;
  max-width: inherit;
  width: 100%;
}

#newRoundButton:hover,
#startButton:hover {
  background-color: #218838;
}

button {
  align-items: center;
  background-color: #0a66c2;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 90%;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  margin: 5px;
  padding: 0px 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
}

button:hover,
button:focus {
  background-color: #16437e;
  color: #ffffff;
}

button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

/** Home screen*/
.game-header {
  color: #fff;
  background-color: #333;
  padding: 20px;
  margin-top: 0px;
  text-align: center;
}

/*! Regular visuals end */

/*==========================
=======GAME VISUALS========= 
==========================*/
#game-container {
  text-align: center;
  background: url("./img/background/game-station.svg") center center;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

/*========================= 
========CAR VISUALS======== 
=========================*/
.car-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  background-color: rgb(190, 184, 122);
  width: auto;
  height: 50vh;
  position: absolute;
  top: 30vh;
  left: 40vw;
  aspect-ratio: 8 / 10;
}

.car-part {
  max-width: 125px;
  margin: 5px 0;
  position: absolute;
}

.part-buttons {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 8vw);
  grid-template-rows: repeat(10, 6.5vh);
  width: 25vw;
  height: 65vh;
  background-color: rgb(180, 184, 241);
  border: 5px solid black;
  position: absolute;
  left: 6vw;
  top: 20.5vh;

}

.part-buttons-oderly {
  display: grid;
  grid-template-rows: repeat(4, 0.5fr);
  background-color: rgb(180, 184, 241);
  border: 5px solid black;
  position: absolute;
  left: 6vw;
  top: 20.5vh;
  width: 30vw;
  height: 65vh;
}

.part-container {
  align-content: center;
  justify-items: center;
  background-color: rgba(0, 89, 255, 0.151);
  border: 5px solid black;
  margin: 10px auto;
  width: 260px;
}

.part-button {
  max-width: 70px;
  max-height: 56px;
  padding: 10px;
}

.part-button:hover:enabled {
  background-color: rgba(127, 245, 123, 0.445);
}

.part-button:hover:disabled {
  background-color: rgba(245, 123, 123, 0.445);
}

#move-car-button {
  position: absolute;
  top: 24vh;
  left: 44vw;
}

#quality-control {
  position: absolute;
  top: 30vh;
  left: 63vw;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 50%;
  text-align: center;
  background-image: url(./img/quality-control/checkmark.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}

#remove-button {
  position: absolute;
  top: 45vh;
  left: 63vw;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 50%;
  text-align: center;
  background-image: url(./img/quality-control/trashcan.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

#previous-station-button {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  background-image: url(./img/left-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

#next-station-button {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  background-image: url(./img/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}



/*==============================
===WORKSTATIONS PARTS VISUALS===
==============================*/
/*=======WORKSTATION 1=========*/
#chassis {
  top: 22%;
  height: 12%;
}

#hood {
  top: 33%;
  height: 14%;
}

#trunk {
  top: 47%;
  height: 13%;
}

#door {
  top: 60%;
  height: 12%;
}

/*=======WORKSTATION 2=========*/
#engineBlock {
  top: 51%;
  left: 81%;
  height: 5%;
  width: auto;
}

#cylinderHead {
  top: 47%;
  left: 81%;
  height: 5%;
  width: auto;
}

#piston {
  top: 48%;
  left: 82%;
  height: 2%;
  width: auto;
}

#sparkPlugs {
  top: 44%;
  left: 82%;
  height: 3%;
  width: auto;
}

/*=======WORKSTATION 3=========*/
#dashboard {
  top: 20%;
  height: 14%;
  width: auto;
}

#steeringWheel {
  top: 21%;
  left: 32%;
  height: 13%;
}

#seat {
  top: 53%;
  left: 23%;
  height: 20%;
}

#carpet {
  top: 37%;
  left: 29%;
  height: 14%;
}

/*=======WORKSTATION 4=========*/
#battery {
  top: 47%;
  left: 28%;
  height: 6%;
}


#alternator {
  top: 50%;
  left: 10%;
  height: 4%;
}

#wiringHarness {
  top: 49%;
  left: 19%;
  height: 3%;
}

#headlights {
  top: 50%;
  left: 89%;
  height: 4%;
}

/*=======WORKSTATION 5=========*/
#brakePads {
  top: 55%;
  left: 62%;
  height: 7%;
}

#wheel {
  top: 54%;
  left: 60%;
  height: 10%;
}

#tire {
  top: 53%;
  left: 59%;
  height: 12%;
}

#hubcap {
  top: 56%;
  left: 62%;
  height: 7%;
}

/* Background/Placeholder for workstations */
#placeholder2 {
  position: absolute;
  height: auto;
  width: 95%;
}

#placeholder3 {
  position: absolute;
  height: 80%;
  width: auto;
}

#placeholder4 {
  position: absolute;
  height: auto;
  width: 85%;
}

#placeholder5 {
  position: absolute;
  height: auto;
  width: 95%;
}

/** Timer */

/* Game Timer */
.game-timer {
  position: absolute;
  top: 50px;
  left: 20px;
}

.game-timer>svg {
  width: 100px;
  height: 100px;
}

.game-timer>svg>circle {
  fill: none;
  stroke-opacity: 0.3;
  stroke: #0400fa;
  stroke-width: 10;
  transform-origin: center center;
  transform: rotate(-90deg);
}

.game-timer>svg>circle+circle {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-linecap: round;
  stroke-opacity: 1;
}

.game-timer.animatable>svg>circle+circle {
  transition: stroke-dashoffset 0.3s ease;
}

.game-timer>svg>text {
  font-size: 1rem;
}

.game-timer>svg>text+text {
  font-size: 1rem;
}


/* maintenance Timer */
.timer {
  margin-top: 10px;
  position: absolute;
  top: 40vh;
  right: 8vw;
}

.timer>svg {
  width: 200px;
  height: 200px;
}

.timer>svg>circle {
  fill: none;
  stroke-opacity: 0.3;
  stroke: #fd0d0d;
  stroke-width: 10;
  transform-origin: center center;
  transform: rotate(-90deg);
}

.timer>svg>circle+circle {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-linecap: round;
  stroke-opacity: 1;
}

.timer.animatable>svg>circle+circle {
  transition: stroke-dashoffset 0.3s ease;
}

.timer>svg>text {
  font-size: 2rem;
}

.timer>svg>text+text {
  font-size: 1rem;
}

/** Car queue */
.car-position-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.car-position-box {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.car-position {
  align-content: center;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 5px;
  height: 20px;
  width: 20px;
}

.car-position.active {
  background-color: #bbb;
}

/*! Game visuals end */
/** Statisctics visuals */
/* After game statistics */
.statistics-container {
  text-align: center;
  margin: 20px;
}

.statistics-heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.statistics-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.statistics-table th,
.statistics-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.statistics-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.statistics-table td.round-number {
  text-align: center;
  font-weight: bold;
}

/* In game statistics*/
.ingame-statistics-container {
  display: flex;
  position: absolute;
  top: 10px;
}

.ingame-statistics-item {
  margin: 5px;
  display: flex;
}

.livestock-container {
  width: 33%;
  max-width: 33%;
  right: 0;
  position: absolute;

  /*! Statisctics visuals end */


  .livestock-part-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .livestock-part-list li {
    text-align: center;
  }

  .livestock-part-name {
    display: block;
  }

  .livestock-part-quantity {
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }

  input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  /* Buy button styles */
  .shop-buy-button {
    width: 100%;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 20px;
  }

  .shop-buy-button:hover {
    background-color: #218838;
  }


  /*! Statisctics visuals end */
}