/** Regular visuals */

.hidden {
  display: none;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90%;
}

img {
  height: 20px;
  width: auto;
  padding: 0;
  margin: 5px;
}

p {
  margin: 5px;
}

input[type="text"] {
  display: block;
  width: 95%;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.summary-text {
  margin-bottom: 20px;
}

#roundMessage {
  position: absolute;
  top: 50px;
  left: 150px;
}

label {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

label .tooltip {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

label .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

label:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Button visuals */

#newRoundButton,
#startButton {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  margin: 30px auto;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#newRoundButton:hover,
#startButton:hover {
  background-color: #218838;
}

button {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  margin: 5px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
}

button:hover,
button:focus {
  background-color: #16437e;
  color: #ffffff;
}

button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.game-header {
  color: #fff;
  background-color: #333;
  padding: 20px;
  margin-top: 0px;
  text-align: center;
}

.game-description {
  text-align: center;
  font-size: 18px;
  color: #555;
  padding: 20px;
}

/*! Regular visuals end */
/** Game options visuals */

.options-container {
  text-align: center;
  margin: 20px;
}

.options-heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.option-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option {
  margin: 5px 0;
}

.workstation-options {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.workstation-option {
  margin-right: 10px;
}

/*! Game options visuals end */
/** Game visuals */
#game-container {
  text-align: center;
  position: relative;
}

/** Car visuals */
.car-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  border: 2px solid black;
  width: 400px;
  height: 470px;
  position: relative;
}

.car-part {
  max-width: 125px;
  margin: 5px 0;
  position: absolute;
}

.part-buttons {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(3, 100px);
  width: 100%;
  margin-top: 5px;
}

.part-buttons-oderly {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  max-width: 1100px;
  margin-left: 10%;
}

.part-container {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.part-button {
  min-width: 35px;
  max-width: 100px;
  min-height: 35px;
  max-height: 90px;
  padding: 10px;
}

.part-button:hover:enabled {
  background-color: rgba(127, 245, 123, 0.445);
}

.part-button:hover:disabled {
  background-color: rgba(245, 123, 123, 0.445);
}

/** Workstations parts visuals*/
/* Workstation 1 */
#chassis {
  top: 101px;
  left: 135px;
  height: 50px;
}

#hood {
  top: 150px;
  height: 50px;
}

#trunk {
  top: 200px;
  height: 50px;
}

#door {
  top: 250px;
  height: 50px;
}

/* Workstation 2 */
#engineBlock {
  top: 240px;
  left: 310px;
  height: 25px;
  width: auto;
}

#cylinderHead {
  top: 216px;
  left: 310px;
  height: 25px;
  width: auto;
}

#piston {
  top: 223px;
  left: 314px;
  height: 10px;
  width: auto;
}

#sparkPlugs {
  top: 202px;
  left: 312px;
  height: 15px;
  width: auto;
}

/* Workstation 3 */
#dashboard {
  top: 150px;
  height: 50px;
}

#steeringWheel {
  top: 150px;
  left: 150px;
  height: 50px;
}

#seat {
  top: 275px;
  left: 150px;
  height: 60px;
}

#carpet {
  top: 210px;
  left: 150px;
  height: 50px;
}

/* Workstation 4 */
#battery {
  top: 225px;
  left: 132px;
  height: 25px;
}


#alternator {
  top: 232px;
  left: 57px;
  height: 20px;
}

#wiringHarness {
  top: 232px;
  left: 95px;
  height: 15px;
}

#headlights {
  top: 234px;
  left: 342px;
  height: 22px;
}

/* Workstation 5 */
#brakePads {
  top: 263px;
  left: 245px;
  height: 26px;
}

#wheel {
  top: 256px;
  left: 238px;
  height: 42px;
}

#tire {
  top: 252px;
  left: 234px;
  height: 50px;
}

#hubcap {
  top: 263px;
  left: 245px;
  height: 28px;
}

/* Background/Placeholder for workstations */
#placeholder2 {
  position: absolute;
  height: auto;
  width: 350px;
}

#placeholder3 {
  position: absolute;
  height: 250px;
  width: auto;
}

#placeholder4 {
  position: absolute;
  height: auto;
  width: 300px;
}

#placeholder5 {
  position: absolute;
  height: auto;
  width: 350px;
}

/** Timer */

/* Game Timer */
.game-timer {
  position: absolute;
  top: 50px;
  left: 20px;
}

.game-timer>svg {
  width: 100px;
  height: 100px;
}

.game-timer>svg>circle {
  fill: none;
  stroke-opacity: 0.3;
  stroke: #0400fa;
  stroke-width: 10;
  transform-origin: center center;
  transform: rotate(-90deg);
}

.game-timer>svg>circle+circle {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-linecap: round;
  stroke-opacity: 1;
}

.game-timer.animatable>svg>circle+circle {
  transition: stroke-dashoffset 0.3s ease;
}

.game-timer>svg>text {
  font-size: 1rem;
}

.game-timer>svg>text+text {
  font-size: 1rem;
}


/* maintenance Timer */
.timer {
  margin-top: 10px;
  position: absolute;
  top: 50%;
  left: 10%;
}

.timer>svg {
  width: 200px;
  height: 200px;
}

.timer>svg>circle {
  fill: none;
  stroke-opacity: 0.3;
  stroke: #fd0d0d;
  stroke-width: 10;
  transform-origin: center center;
  transform: rotate(-90deg);
}

.timer>svg>circle+circle {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-linecap: round;
  stroke-opacity: 1;
}

.timer.animatable>svg>circle+circle {
  transition: stroke-dashoffset 0.3s ease;
}

.timer>svg>text {
  font-size: 2rem;
}

.timer>svg>text+text {
  font-size: 1rem;
}

/** Car queue */
.car-position-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.car-position {
  align-content: center;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 5px;
  height: 20px;
  width: 20px;
}

.car-position.active {
  background-color: #bbb;
}

/*! Game visuals end */
/** Statisctics visuals */
/* After game statistics */
.statistics-container {
  text-align: center;
  margin: 20px;
}

.statistics-heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.statistics-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.statistics-table th,
.statistics-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.statistics-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.statistics-table td.round-number {
  text-align: center;
  font-weight: bold;
}

/* In game statistics*/
.ingame-statistics-container {
  display: flex;
  position: absolute;
  top: 10px;
}

.ingame-statistics-item {
  margin: 10px;
  display: flex;
}


/*! Statisctics visuals end */